.app {
    margin: 10px;
}

.header {
    background-color: #000;
    border: 4px solid yellow;
    color: #fff;
    padding: 10px;
}

.header-heading {
    margin: 0;
}

.header-list {
    list-style: none;
    margin: 0;
    align-items: center;
}

.body {
    border: 4px solid red;
    padding: 1rem 0;
}

.banner {
    background-color: #d7d7d8;
    padding: 4rem 2rem;
    color: #333;
    border: 4px solid blue;
    margin-bottom: 1rem;
}

.list-item {
    margin-left: -15px;
    margin-right: -15px;
}

.item-content {
    border: 4px solid violet;
}

.item-content img {
    width: 100%;
}

.item-body {
    padding-top: 1rem;
}

.item-body-heading {
    font-size: 1.6rem;
}

.item-footer {
    background-color: #ececec;
    padding: 0.8rem 0;
}

.footer {
    padding: 2rem 0;
    background-color: #333;
    color: #fff;
    border: 4px solid blue;
}